header {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    max-width: 300px;
}

.menu {
    display: flex;
}

#btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px
}