.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-title {
    margin: 100px auto
}

.start-button {
    color: white;
    align-items: flex-end;
}

.start-button:hover {
    color: white
}

#deck-label {
    color: gray
}